
*{
   margin-left: 0;
}
.body{
    display: flex;
    margin-right: 60px;
    margin-top: 0;
}
.details{
    margin-top: 100px;
    font-family: sans-serif;
    font-weight:lighter;
}
.p1{
    font-size: larger;
    font-family: sans-serif;
    margin-right: 150px;
    margin-left: 50px;
}
.p2{
    font-size: xx-large;
    font-weight:900;
    margin-left: 50px;
}
.stock{
    margin-left: 50px;
    font-weight: bold;
}
.link{
    margin-left: 40px;
    text-decoration: none;
    background-color: #009688;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin-top: 50px;
    cursor: pointer;
}
.link:hover{
    background-color: gainsboro;
    color: black;
}
table{
    display: table;
    width: 60%;
    border-spacing: 0px;
    margin-right: 5px;
    margin-left: 50px;
    margin-top: 50px;
    font-family: sans-serif;
    color: rgb(121, 118, 118);
}
table td{
    padding: 10px;
    border: 1px solid gainsboro;
} 
video{
    margin: 100px;
    margin-left: 300px;
} 
.p3{
    margin-left:50px ;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: large;
    background-color:#009688;
    color: white;
    width: 200px;
    margin-left:20px ;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
} 
.p4{
    margin-left: 50px;
    font-family: sans-serif;
    font-size:x-large;
    font-weight: bold;
}
.tables{
    display: flex;
}
.table1{
    margin-left: 10px;
}
.pvideo{
    margin-left:50px ;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: large;
    background-color:#009688;
    color: white;
    width: 200px;
    margin-left:20px ;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin-top: 50px;
}

.td1{
    color: rgb(53, 52, 52);
}



/* Header */

.header {
    z-index: 2;
    width: 100%;
    position: absolute;
    background-color: #009688;
    height: 105px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: transparent;
    padding-top: 20px;
}

.logo img {

    height: 60px;
    cursor: pointer;
    border-radius: 50%;
}

ul {
    list-style: none;
}

.container nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 200px;


}

.container nav ul {
    display: flex;

}

.search {
    color: white;
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;

}

.search i {
    color: white;
    position: absolute;
    font-size: 18px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
}

.search i:hover {
    color: gainsboro
}

.shopping i {
    color: white;
    padding-left: 10px;
    font-size: 18px;
    cursor: pointer;

}

.shopping i:hover {
    color: gainsboro;
}

.user i {
    color: white;
    padding-left: 10px;
    font-size: 18px;
    cursor: pointer;
    padding-right: 20px;
    font-size: 22px;

}

.user i:hover {
    color: gainsboro;
}



.sign a {

    text-decoration: none;
    color: white;
    font-weight: bold;
}

.sign a:hover {
    color: gainsboro;
}

.log {
    display: flex;
    justify-content: space-around;

}



.container nav ul li {
    position: relative;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.container nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.container nav ul li::after {
    content: '';
    width: 0;
    height: 3px;
    background:white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}


.container nav ul li:hover::after {
    width: 100%;
}
/* End of header */



/* Start footer */

.footer {
    background-color: #191919;
    padding: 10px 0 0;

}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;

}

.footer .container h3 {
    color: #009688;

}

.footer .container img {
    width: 120px;
    height: 120px;
    font-size: 50px;
    margin: 0 0 20px;
    border-radius: 50%;
    margin-left: 55px;


}

.footer .container .social {
    display: flex;
}

.footer .container .social li {
    margin-right: 10px;
}

.footer .container .social li a {
    background-color: #313131;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: 0.5s;
    text-decoration: none;
    color: #b9b9b9;
}

.footer .container .social .facebook:hover {
    background-color: dodgerblue;
}

.footer .container .social .youtube:hover {
    background-color: red;
}

.footer .container .social .twitter:hover {
    background-color: lightskyblue;
}

.footer .box .text {
    line-height: 2;
    color: #b9b9b9;

}

.footer .box .ficons li {
    padding: 15px 0;
    transition: 0.5s;

}

.footer .box .ficons li:not(:last-child) {
    border-bottom: 1px solid #444;
}

.footer .box .ficons li:hover {
    padding-left: 10px;
}

.footer .box .ficons li a {
    text-decoration: none;
    color: #b9b9b9;
    transition: 0.5s;

}

.footer .box .ficons li:hover a {
    color: white;
}

.footer .copyright {
    padding: 15px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;

}



/* End footer */


.mcontainer{
    padding-top: 120px;
}