.header {
    display: flex;
    flex-direction: row;
    z-index: 1;
    width: 1485px;
    background-color: #009688;
}

.container {
    display: grid;
    grid-row: 50%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    float: right;
    justify-content: space-between;
    position: relative;
    background-color: #009688;

}

.logo img {
    border-radius: 100px;
    height: 90px;
    width: 98px;
    cursor: pointer;
}

ul {
    list-style: none;
}

.container nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0px;


}

.container nav ul {
    display: flex;

}

.search {
    color: white;
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;

}

.search i {
    color: white;
    position: absolute;
    font-size: 18px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
}

.search i:hover {
    color: gainsboro;
}

.shopping i {
    color: white;
    padding-left: 10px;
    font-size: 18px;
    cursor: pointer;

}

.shopping i:hover {
    color: gainsboro;
}

.user i {
    color: white;
    padding-left: 10px;
    font-size: 18px;
    cursor: pointer;
    padding-right: 20px;
    font-size: 22px;

}

.user i:hover {
    color: gainsboro;
}



.sign a {

    text-decoration: none;
    color: white;
    font-weight: bold;
}

.sign a:hover {
    color: gainsboro;
}

.log {
    display: flex;
    justify-content: space-around;

}



.container nav ul li {
    position: relative;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.container nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.container nav ul li::after {
    content: '';
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}


.container nav ul li:hover::after {
    width: 100%;
}



@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --white-light: rgba(255, 255, 255, 0.5);
    --alice-blue: #f8f9fa;
    --carribean-green: #40c9a2;
    --gray: #ededed;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    display: grid;
    grid-template-columns: 50%, 50%;
    font-family: 'Quicksand', sans-serif;
}

/* Utility styling*/
img {
    width: 100%;
    display: block;
    border-radius: 140px;
}

.container-1 {
    display: grid;
    grid-row: repeat(6, 1fr);
}

.lg-title,
.md-title,
.sm-title {
    font-family: 'Roboto', sans-serif;
    padding: 0.6rem 0;
    text-transform: capitalize;
}

.lg-title {
    font: 1em sans-serif;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    padding: 1.3px 0;
    opacity: 0.9;
}

.md-title {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

.sm-title {
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
}

.text-light {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    opacity: 0.5;
    margin: 0.4px 0;
}

.items1 {
    display: flex;
    flex-direction: column;

}

.items2 {
    display: flex;
    flex-direction: column;

}

/* product section */
.products {
    background: var(--alice-blue);
    padding: 3.2rem 0;
}

.products .text-light {
    text-align: center;
    width: 70%;
    margin: 0.9rem auto;
}

.product {
    margin: 2rem;
    position: relative;
}

.product-content {
    background: var(--gray);
    padding: 3rem 0.5rem 2rem 0.5rem;
    cursor: pointer;
}

.product-img {
    background: var(--white-light);
    box-shadow: 0 0 20px 10px var(--white-light);
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
}

.product-btns {
    display: flex;
    justify-content: center;
    margin-top: 1.4rem;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.btn-cart,
.btn-buy {
    background: transparent;
    border: 1px solid black;
    padding: 0.8rem 0;
    width: 125px;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;
}

.btn-cart {
    background: black;
    color: white;
}

.btn-cart:hover {
    background: var(--carribean-green);
}

.btn-buy {
    background: white;
}

.btn-buy:hover {
    background: var(--carribean-green);
    color: #fff;
}

.product-info {
    background: white;
    padding: 2rem;
}

.product-info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-name {
    color: black;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.product-price {
    padding-top: 0.6rem;
    padding-right: 0.6rem;
    display: inline-block;
}

.product-price:first-of-type {
    text-decoration: line-through;
    color: var(--carribean-green);
}

.product-img img {
    transition: transform 0.6s ease;
}

.product:hover .product-img img {
    transform: scale(1.1);
}

.product:hover .product-img {
    background: var(--carribean-green);
}

.product:hover .product-btns {
    opacity: 1;
}

.off-info .sm-title {
    background: var(--carribean-green);
    color: white;
    display: inline-block;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    z-index: 1;
    letter-spacing: 3px;
    cursor: pointer;
}


/* Start footer*/

.footer {
    background-color: #191919;
    padding: 10px 0 0;

}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10px;
    background-color: #191919;
}

.footer .container h3 {
    color: #009688;

}

.footer .container img {
    width: 150px;
    height: 150px;
    font-size: 50px;
    margin: 0 0 20px;


}

.footer .container .social {
    display: flex;
}

.footer .container .social li {
    margin-right: 10px;
}

.footer .container .social li a {
    background-color: #313131;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: 0.5s;
    text-decoration: none;
    color: #b9b9b9;
}

.footer .container .social .facebook:hover {
    background-color: dodgerblue;
}

.footer .container .social .youtube:hover {
    background-color: red;
}

.footer .container .social .twitter:hover {
    background-color: lightskyblue;
}

.footer .box .text {
    line-height: 2;
    color: #b9b9b9;

}

.footer .box .ficons li {
    padding: 15px 0;
    transition: 0.5s;

}

.footer .box .ficons li:not(:last-child) {
    border-bottom: 1px solid #444;
}

.footer .box .ficons li:hover {
    padding-left: 10px;
}

.footer .box .ficons li a {
    text-decoration: none;
    color: #b9b9b9;
    transition: 0.5s;

}

.footer .box .ficons li:hover a {
    color: white;
}

.footer .copyright {
    padding: 15px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;

}



/* End footer */